doctype html
html
  head
    include ./includes/header.jade
  body
    section.jumbotron.index-main
      section.container-fluid
        div.row
          h1.big tellem
        div.row
          p.lead.oneline
            | No more fiddly mailing lists. No more noisy instant messaging groups.
        div.row
          p.lead.oneline
            | Keep everyone in the know.
        div.row
          a.btn.btn-success.btn-lg.try-demo(href='/app', role='button') Try the Live Demo!
        div.row
          a.twitter-mention-button(href='https://twitter.com/intent/tweet?screen_name=use_tellem', data-size='large', data-related='use_tellem') Tweet to @use_tellem
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    include ./includes/ga.jade

 