doctype html
html(lang='en', ng-app='tellemApp')
  head
    title='tellem'
    link(rel='stylesheet/less', type='text/css', href='/less/styles.less')
  body(ng-controller='TellemCtrl')
    section(class='container', ng-view)

    script(type='text/javascript', src='/js/lib/less.js')
    script(type='text/javascript', src='/bower_components/angular/angular.js')
    script(type='text/javascript', src='/bower_components/angular-route/angular-route.js')

    // prod
    // script(type='text/javascript', src='//cdn.socket.io/socket.io-1.4.5.js')
    script(type='text/javascript', src='/bower_components/socket.io-client/socket.io.js')

    script(type='text/javascript').
        window._tellem = {};
        window._tellem.bootstrap = {};
    each data, varName in bootstrap
        script(type='text/javascript')!='window._tellem.bootstrap.' + varName + ' = ' + JSON.stringify(data)

    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/socket.js')
    script(type='text/javascript', src='/js/sync.js')
    script(type='text/javascript', src='/js/notification.js')
    script(type='text/javascript', src='/js/db.js')
    script(type='text/javascript', src='/js/session.js')
    script(type='text/javascript', src='/js/controllers.js')