doctype html
html(lang='en', ng-app='tellemApp')
  head
    title='tellem'
    link(rel='stylesheet/less', type='text/css', href='/less/styles.less')
  body
    header(class='main-header', ng-include="'view/header.html'")
    section(class='main')
        section(class='main-container')
            section(class='side-list', ng-controller='SideListCtrl', ng-include="'view/sidebar.html'")
            section(class='centre-pane', ui-view)

    script(type='text/javascript', src='/js/lib/less.js')

    script(type='text/javascript', src='//code.jquery.com/jquery-2.2.0.min.js')

    script(type='text/javascript').
        window._tellem = {};
        window._tellem.bootstrap = {};
    each data, varName in bootstrap
        script(type='text/javascript')!='window._tellem.bootstrap.' + varName + ' = ' + JSON.stringify(data)

    script(type='text/javascript', src='/js/tellem.js')
    //- script(type='text/javascript', src='/js/app.js')
    //- script(type='text/javascript', src='/js/socket.js')
    //- script(type='text/javascript', src='/js/sync.js')
    //- script(type='text/javascript', src='/js/notification.js')
    //- script(type='text/javascript', src='/js/db.js')
    //- script(type='text/javascript', src='/js/session.js')
    //- script(type='text/javascript', src='/js/notifier.js')
    //- script(type='text/javascript', src='/js/controllers.js')