doctype html
html
  head
    include ./includes/header.jade
  body.grain-effect
    header.site-header
      h1 tellem
    section.login-container.container
      if message
        section.row
          p.alert.alert-warning=message
      section.row
        p.alert.alert-warning tellem is still currently in development, and works best in desktop browsers such as Chrome, Firefox, Safari, and later versions of Internet Explorer. If something doesn't work in your browser please 
          a(href='mailto:' + contactMail) let me know!
      section.row
        section.col-md-6
          header.sub-section-header
            h2 New to the Demo?
            h2 Register
            p
            | Please note that your e-mail address is kept private from other users, but your username could possibly be seen by others.
            p
            | By signing up to the demo, you'll also sign up to the newsletter and will receive updates on tellem's progress. You can opt-out of these updates at any time.
            p
            | We won't use your email for anything other than tellem updates.
            form.login-form(method='POST', action='register', role='form')
              div.form-group
                label(for='email') Email Address (private)
                input.form-control(type='email', id='email', name='email', placeholder='Email')
              div.form-group
                label(for='username') Username (public)
                input.form-control(type='text', id='username', name='username', placeholder='Username')
                input.form-control(type='hidden', name='password', value=' ')
              button.btn.btn-default.pull-right(type='submit') Register
        section.col-md-6
          header.sub-section-header
            h2 Already Registered?
            h2 Log In
            form(method='POST', action='/login', role='form')
              div.form-group
                label(for='email') Email Address
                input.form-control(type='email', id='email', name='email', placeholder='Email')
                input.form-control(type='hidden', name='password', value=' ')
              button.btn.btn-default.pull-right(type='submit') Log In
    include ./includes/ga.jade