html
	head
		title='Login'
	body
		p='Login page'
		form(action='/login',method='post')
			input(type='text',name='username')
			input(type='text',name='password')
			input(type='submit',value='Log in')
