<section class='channel-container centre-section-container'>
	<header class='centre-header'>
		<h3>{{channel.name}}</h3>
	</header>

	<section class='channel-info'>
		<p>{{channel.description}}</p>
	</section>

	<div class='channel-header-buttons'>
		<button type='button' ui-sref='send({ channel: channel._id })' class='btn btn-default'>Send Bulletin</button>
		<button class='btn btn-default' type='button' ng-if='subscribed' ng-click='unsubscribe(channel._id)'>Unsubscribe</button>
		<button class='btn btn-default' type='button' ng-if='!subscribed' ng-click='subscribe(channel._id)'>Subscribe</button>
		<button class='btn btn-default' type='button' ng-if='isOwner' ng-click='delete(channel._id)'>Delete Channel</button>
	</div>
</section>

