<section class='home-container centre-section-container' ng-controller="HomeCtrl">
	<header class='centre-header'>
		<h3>Welcome to tellem</h3>
	</header>

	<section class="alert alert-warning" ng-if='permissionLevel === DEFAULT'>tellem needs your permission to display desktop notifications. Please <a ng-click='requestPermission()'>click here</a> to allow.
	</section>

	<section class="alert alert-danger" ng-if='permissionLevel === DENIED'>You have blocked desktop notifications for tellem. You will not receive any desktop notifications. Please adjust your browser settings to re-enable notifications.</section>

	<section>
		<p>Thank you for your interest in tellem. This is a demonstration of the core functionality of tellem - real-time, channel-based notifications.</p>
		<h4>Using the Demo</h4>
		<p>The demo is currently running on development infrastructure, so <strong>avoid sending any personal data</strong> via tellem for the moment. Besides that, feel free to play around.</p>
		<p>Please note that the channels you currently see are shared amongst all demo users, so don't be alarmed if things change.</p>
		<p>There's a small utility to help when using the demo. It's a bot that can send bulletins to certain channels, giving you the opportunity to use tellem both as a sender and a receiver. It's called Tellie and can be found at the bottom right of the application.</p>
		<h4>Feedback</h4>
		<p>Your feedback is incredibly appreciated &amp; helpful. It helps us create better software, and ultimately improves tellem as a whole. Please fill in the survey when you're ready! You can find a link to it in the bottom right of the application.</p>
		<h4>Have fun!</h4>
	</section>	

</section>