<section class='home-container centre-section-container' ng-controller="HomeCtrl">
	<header class='centre-header'>
		<h3>Welcome to tellem</h3>
	</header>

	<section class="alert alert-warning" ng-if='permissionLevel === DEFAULT'>tellem needs your permission to display desktop notifications. Please <a ng-click='requestPermission()'>click here</a> to allow.
	</section>

	<section class="alert alert-danger" ng-if='permissionLevel === DENIED'>You have blocked desktop notifications for tellem. You will not receive any desktop notifications. Please adjust your browser settings to re-enable notifications.</section>

	<section>
		<p>Thank you for your interest in tellem. This is a demonstration of the core functionality of tellem - real-time, channel-based notifications.</p>
		<h4>About tellem</h4>
		<p>In the side-bar you'll see a list of channels. Channels are a way of categorizing bulletins. When you want to send a bulletin, you specify which channel to send it through. Only users subscribed to that channel will receive the bulletin.</p>
		<p>You can try this now by subscribing to either dev_ops or new_clients, and waiting for a bulletin to be sent. To see more information and subscribe to a channel, click its name in the sidebar.</p>
		<p>Try creating some of your own channels and sending your own notifications.</p>
		<h4>Security Notice</h4>
		<p>The demo is currently running on development infrastructure, so <strong>avoid sending any personal data</strong> via tellem for the moment. Besides that, feel free to play around.</p>
		<h4>Feedback</h4>
		<p>Your feedback is incredibly appreciated &amp; helpful. You can click <a href='http://goo.gl/forms/UQ5AI7T6Sd' target='_blank'>Leave Feedback</a> and complete a short survey (only 3 questions).</p>
		<h4>Contact</h4>
		<p>If you need to get in touch you can either reach me via <a href='mailto:{{contactMail}}'>e-mail</a> or <a href='https://twitter.com/use_tellem' target='_blank'>Twitter</a>.</p>
	</section>	

</section>