<section class='send-container centre-section-container'>
	<header class='centre-header'>
		<h2>Send Bulletin</h2>
	</header>

	<section class='channel-selection'>
		<h3>Target Channel</h3>

		<div class='send-channel'>
			<select chosen
					multiple
					width="'100%'"
					max-selected-options="1"
					placeholder-text-multiple="'Select some channels'"
					ng-model="selectedChannels"
        			ng-options="c for c in availableChannels">
        		<option value=""></option>
			</select>
		</div>
	</section>
	

	<section class='send-inner-container'>
		<h3>Bulletin Content</h3>

		<!-- <section class='use-previously-sent'>
		</section> --><section class='create-new-bulletin-container'>
			<!-- new bulletin form -->
			<div class='create-new-bulletin-form'>
				<!-- change bulletin icon -->
				<div class='create-new-bulletin-change-icon'>
					<label class='create-new-bulletin-form-label'>Icon</label>
					<img class='create-new-bulletin-change-icon-img'src='/img/icon.png' />
				</div>

				<!-- change bulletin message -->
				<div class='create-new-bulletin-message'>
					<label class='create-new-bulletin-form-label' for='message'>Message</label>
					<textarea class='create-new-bulletin-message-input' rows='1' name='message' ng-model='message'></textarea>
				</div>
			</div>

			<!-- new bulletin buttons -->
			<div class='create-new-bulletin-buttons'>
				<input class='create-new-bulletin-send-button' type='button' value='Send' ng-click='send()'>
			</div>
		</section>
	</section>
</section>
