<section class='send-notification side-list-item'>
    <a role='button' class='btn btn-success btn-block' href='http://goo.gl/forms/UQ5AI7T6Sd' target='_blank'>Leave Feedback</a>
    <!-- <button type='button' ui-sref='send' class='btn btn-default btn-block'>Send Bulletin</button> -->
</section>
<header class='channels-header'>
    <h4>Channels</h4>
    <span class='add-new-channel-button glyphicon glyphicon-plus' ui-sref="channel.new"></span>
</header>
<section class='subscribed-channels side-list-item'>
    <header class='channel-list-header'><h5>Subscribed</h5></header>
    <ul class='channel-list'>
        <li class='channel-list-item' ui-sref='channel.id({channelId: channel._id})' ng-repeat='channel in subscribedChannels' >
            <div class='channel-list-item-bg' ng-class='{ active: activeChannelId === channel._id }'></div> 
            <div class='cli-name'>{{channel.name}}</div>
        </li>
    </ul>
</section>
<section class='available-channels side-list-item'>
    <header class='channel-list-header'><h5>Available</h5></header>
    <ul class='channel-list'>
        <li class='channel-list-item' ui-sref='channel.id({channelId: channel._id})' ng-repeat='channel in availableChannels'>
            <div class='channel-list-item-bg' ng-class='{ active: activeChannelId === channel._id }'></div> 
            <div class='cli-name'>{{channel.name}}</div>
        </li>
    </ul>
</section>
<!-- <section class='demo-tools side-list-item'>
    <header class='channel-list-header'><h5>Demo Tools</h5></header>
    <ul class='channel-list'>
        <li class='channel-list-item' ui-sref='bot'>
            <div class='channel-list-item-bg' ng-class='{ active: activeChannelId === "bot" }'></div>
            <div class='cli-name'>tellem Bot</div>
        </li>
    </ul>
</section> -->