@channel-container-width: 400px;

section.channel-container {
	min-width: @channel-container-width;
}

// div.channel-header-buttons {
// 	> input {
// 		display: inline-block;
// 	}
// }

h2.channel-header-name {
	display: inline-block;
	margin: 0;
}

// div.channel-header-buttons {
// 	float: right;
// }