@previously-sent-container-width: 0px;
@bulletin-content-width: 400px;

.send-container {
	min-width: @previously-sent-container-width + @bulletin-content-width;
}

.send-inner-container {
	overflow: hidden;
}

.create-new-bulletin-container {
	overflow: hidden;

	margin: 0 auto;
	width: @bulletin-content-width;
	min-width: @bulletin-content-width;
}

.use-previously-sent {
	float: right;
	width: @previously-sent-container-width;
	min-width: @previously-sent-container-width;
	background-color: red;
}

// content form
@change-icon-width: 64px;
@change-icon-height: 64px;
@padding-between-icon-and-message: 6px;

@form-input-border: 1px solid #aaa;

.create-new-bulletin-form {
	overflow: hidden;
}

.create-new-bulletin-change-icon {
	float: left;
	width: @change-icon-width;
	margin-right: @padding-between-icon-and-message / 2;
}

.create-new-bulletin-message {
	overflow: hidden;
	margin-left: @padding-between-icon-and-message / 2;
}

.create-new-bulletin-form-label {
	display: block;
	height: 15px;
	font-size: 0.9em;
}

.create-new-bulletin-change-icon-img {
	height: @change-icon-height;
	width: @change-icon-width;
	border: @form-input-border;
	box-sizing: border-box;
}

.create-new-bulletin-message-input {
	width: 100%;
	box-sizing: border-box;
	height: @change-icon-height;
	border: @form-input-border;
	resize: none;
}

// buttons
.create-new-bulletin-send-button {
	float: right;
}
