@import (inline) "normalize.css";
@import (less) "/bootstrap/bootstrap.less";
@import (less) "mixins.less";
@import (less) "bootstrap-chosen.less";

@application-font-family: Arial, sans-serif;

// Colours used throughout the app
@base-colour: #425879;
@side-list-colour: #2D2D2D;

// Font colours. Fonts are based on their background, so @fc-base-colour is the
// font colour to use against @base-colour.
@fc-base-colour: #FFF;
@fc-side-list-colour: #FFF;

// Widths
@header-height: 35px;
@left-side-bar-width: 270px;
@side-bar-horizontal-padding: 10px;

@outer-padding: 10px;
@footer-height: 20px;

// Application-wide and root-level layout styles

body {
	height: 100%;
	width: 100%;
	position: relative;
}

html {
	height: 100%;
	width: 100%;
}

h1 {
	margin: 0;
	font-family: @application-font-family;
	font-size: 2em;
	color: @fc-base-colour;
	text-shadow: 1px 1px 1px #000;
	padding-left: @outer-padding;
	padding-top: 2px;
	padding-bottom: 2px;
}

h2 {
	margin: 0;
}

header.main-header {
	background-color: @base-colour;
	height: @header-height;
	cursor: pointer;
}

section.main {
	position: absolute;
	top: @header-height;
	left: 0;
	right: 0;
	bottom: 0;
}

section.main-container {
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	> section {
		// One True Layout
		// https://css-tricks.com/fluid-width-equal-height-columns/
	    margin-bottom: -99999px;
	    padding-bottom: 99999px;
	}
}

section.centre-pane {
	margin-left: @left-side-bar-width;
	background-color: grey;
}

section.centre-section-container {
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 0 10px;
	background-color: white;
}

.home-container {
	min-width: 400px;
}

@import (less) "sidebar.less";
@import (less) "sender.less";
@import (less) "channel.less";
@import (less) "channel.new.less";


